body{
    background-color: rgba(220, 220, 220, 0.7);
}

section.banner {
    background-image: url(./Landscape_mountain.jpg);
    background-position: center;
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
}
section.banner h1,
section.banner p{
    color:white;
}

section.mailer{
    background: #26A69A;
    padding: 2em 0;
    /* padding: ; */
}


section.mailer form{
    display:flex;
}
section.mailer input[type=email]{
    flex-grow: 1;
}
section.mailer input[type=submit]{
    -webkit-appearance: none;
    border-radius: 5;
}
section.depoimentos {}
blockquote{
    border-left: 3px solid grey;
}
section.diferenciais h3>i{
    color: #26A69A;
}
section{
    text-align: center;
}
section:nth-child(n+4){
    margin: 2em 0;
    /* background: green!important; */
}
section > h3 {
    background-color: #26A69A;
    color: white;
    padding: 0.5em 0;
}
section.equipe .box-shadow{
    -webkit-box-shadow: 8px 7px 5px -3px rgba(20,20,20,0.6);
    box-shadow: 8px 7px 5px -3px rgba(20,20,20,0.6);
}
section.equipe > div > div > div {
    /* border: 1px solid black; */
    min-height: 100px;
    margin: 10px;
    box-shadow: 8px 7px 5px -3px rgba(20,20,20,0.6);
}
section.equipe > div > div > div > div > div {
    /* padding: 20px; */
    /* background: blue; */
}
section.equipe > div > div > div > div > div:first-child {
    /* background: green; */
}
section.equipe div img{
    width: 100%;
    border-radius: 50%;
}
section.form form div div{
    text-align: left;
}
footer.footer {
    background: rgb(180, 180, 180)!important;
    padding: 15px 0;
}
@media screen and (max-width: 567px) {
    section.equipe > div > div > div > div > div:nth-child(2){
        margin:auto;
    }
    nav.navbar {
        background-color: transparent!important;
    }
    nav.navbar ul li {
        background-color: rgba(255, 255, 255, 0.6);
        padding-left: 10px;
    }
}

